@font-face {
    font-family: 'atari';
    src: url('../assets/Fonts/atari.ttf');
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
        background-color:#282828;
        background-size:16px 16px;

}

canvas.statsjs {
    position: absolute; 
    top: 10px;
    left: 10px;
}

div#puntos {
    color: white;
    margin-bottom: 10px;
}

h1 {
    font-family: 'atari';
    color: #f0f523;
    border-radius: 10px;
    border: 4px solid #d35400;
    background-color: #e67e22;
    padding: 15px;
}
canvas#pacman {
    border: 1px solid black;
    background-color: black;
    border-radius: 5px;
}